<div class="card">
    <img src="https://assetsio.reedpopcdn.com/sonic-origins_o0ETtrM.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">VideoGames</small>
        <small class="bg-light text-success text-center mx-3">Featured</small>
        <small class="bg-light text-info text-center mx-3">Views - 100,899</small>

        <h5 class="mt-1">Sonic generation review</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nihil expedita facilis quam minima nesciunt architecto debitis modi doloremque voluptatem maiores, optio mollitia veritatis nisi sit, nobis blanditiis error consequatur!</p>
        <small class="bg-light text-warning text-center ml-3">Last Update: ieri</small>

    </div>
</div>