<div class="card" *ngFor="let post of posts" [routerLink]="['/post', post.id]" routerLinkActive="active">
    <img src={{post.imageUrl}} alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">{{category?.name}}</small>
        <small class="bg-light text-success text-center mx-3">Featured</small>
        <small class="bg-light text-info text-center mx-3">Views - 100,899</small>

        <h5 class="mt-1">{{post.title}}</h5>
        <p>{{post.content}}</p>
        <small class="bg-light text-warning text-center ml-3">Last Update: ieri</small>

    </div>
</div>