<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Lascia un commento</h4>
        <p>Puoi lasciare un commento in questa form</p>
        <form>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" placeholder="Inserisci il tuo nome">
            </div>
            <div class="form-group">
                <label for="">Comment</label>
                <textarea cols="30" rows="10" class="form-control" placeholder="Scrivi qua il tuo commento"></textarea>
            </div>

            <button class="btn btn-info btn-theme mt-2">Aggiungi Commento</button>
        </form>
    </div>
</div>