<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About Us</h1>
            <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum unde laborum ratione quasi facere illum totam doloribus quis quas tempore, provident quidem modi iste, quaerat qui possimus fugit. Cupiditate laudantium labore eos corrupti commodi qui, distinctio nisi minima dolorem. Unde necessitatibus rem doloribus dicta quibusdam omnis autem numquam. Eveniet nam accusantium consectetur amet, at aut, nulla facilis illo molestias, officiis aliquam ducimus nobis? Explicabo quam expedita sunt, beatae qui fuga! Iste officia explicabo cum dolore expedita rem quae debitis delectus quam quisquam suscipit eligendi porro a saepe, assumenda consequuntur fugit placeat numquam eos quas aperiam sit? Iste cumque unde aspernatur.</p>

                <div class="text-center">
                    <button class="btn btn-info btn-sm btn-theme mt-4">Torna alla Home</button>
                </div>
            </div>
    </div>
</section>