<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Commenti</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Piero</h6>
            <small class="text-danger">Last Update - 29/03/2023</small>
            <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat est harum, quibusdam explicabo deleniti voluptatem dolorem? Incidunt ex itaque dolores pariatur, repellendus dignissimos enim necessitatibus ea non eum magnam, perspiciatis qui fuga ullam officia ducimus maxime. Ea tempore qui saepe id! Sapiente eos ipsa, optio autem consequuntur quae omnis. Non.</div>
        </div>

        <a href="#" class="mt-1">Rispondi</a>
        <a href="" class="mt-1 mx-3">Vedi Risposte</a>
        <hr>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Piero</h6>
            <small class="text-danger">Last Update - 29/03/2023</small>
            <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat est harum, quibusdam explicabo deleniti voluptatem dolorem? Incidunt ex itaque dolores pariatur, repellendus dignissimos enim necessitatibus ea non eum magnam, perspiciatis qui fuga ullam officia ducimus maxime. Ea tempore qui saepe id! Sapiente eos ipsa, optio autem consequuntur quae omnis. Non.</div>
        </div>

        <a href="#" class="mt-1">Rispondi</a>
        <a href="" class="mt-1 mx-3">Vedi Risposte</a>
        <hr>
        

        <div class="comment-box mt-3">
            <h6 class="mb-0">Piero</h6>
            <small class="text-danger">Last Update - 29/03/2023</small>
            <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat est harum, quibusdam explicabo deleniti voluptatem dolorem? Incidunt ex itaque dolores pariatur, repellendus dignissimos enim necessitatibus ea non eum magnam, perspiciatis qui fuga ullam officia ducimus maxime. Ea tempore qui saepe id! Sapiente eos ipsa, optio autem consequuntur quae omnis. Non.</div>
        </div>

        <a href="#" class="mt-1">Rispondi</a>
        <a href="" class="mt-1 mx-3">Vedi Risposte</a>
        <hr>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Piero</h6>
            <small class="text-danger">Last Update - 29/03/2023</small>
            <div class="mt-3 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat est harum, quibusdam explicabo deleniti voluptatem dolorem? Incidunt ex itaque dolores pariatur, repellendus dignissimos enim necessitatibus ea non eum magnam, perspiciatis qui fuga ullam officia ducimus maxime. Ea tempore qui saepe id! Sapiente eos ipsa, optio autem consequuntur quae omnis. Non.</div>
        </div>

        <a href="#" class="mt-1">Rispondi</a>
        <a href="" class="mt-1 mx-3">Vedi Risposte</a>
        <hr>
    </div>
</div>